//Jacob Ferreira - 301452914
//Date: 2024-10-22
//.babelrc code provided in class

{
    "presets":[
        [
            "@babel/preset-env",
            {
                "target":{"node":"current"}
            }
        ]
    ]
}